.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin-top: 56px;
  margin-bottom: 156px;

  h1 {
    margin-top: 32px;
  }
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 88px 0 88px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 80%;
  margin: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid;

  h4 {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  width: 100%;
}
