.mainContainer {
  width: 90vw;
  margin: auto;
}

.backgroundContainer {
  margin: auto;
  background: linear-gradient(to top, #fdd7db, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.divContainer1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;

  img {
    text-align: center;
  }
}

.divContainer2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.divContainer3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.divContainer4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: bold;
  font-size: 62px;
}
