.mainContainer {
  width: 90vw;
  margin: auto;
}

.backgroundContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.divContainer1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;

  img {
    text-align: center;
  }
}

.divContainer2 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.divContainer3 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-40%, -50%);
  z-index: 2;
  font-weight: bold;
  font-size: 3.8rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.divContainer1:hover .textOverlay,
.divContainer2:hover .textOverlay,
.divContainer3:hover .textOverlay {
  opacity: 1;
}
